* {
  box-sizing: border-box;
}
.navbar {
  border: none;
  background-color: #2e2e2e;
  text-align: center;
}
body {
  background-color: #6f8290;
}
#brand {
  color: #db995a;
}
ul {
  font-size: 2em;
}
.glyphicon {
  font-size: 30px;
  color: #525a9c;
}
.row {
  width: 100%;
}
.center {
  width: 100;
  background-color: white;
}

#container {
  margin: 40px;
}
.text-center {
  padding: 0px;
  font-size: 30px;
}

h2 {
  text-align: center;
}
#myNavbar ul li a {
  color: #525a9c;
}
.navbar-brand {
  font-size: 30px;
}
article {
  padding-bottom: 5px;
  background-color: #403f4c;
  color: #db995a;
  margin-right: 10px;
  padding: 40px;
  overflow: hidden;
}
