*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #61122F;
text-align: center;
}
body{
	background-color: #61122F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color: #525a9c; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: rgb(87, 87, 87);
}
.text-center{
	padding: 0px;
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #525a9c;
}
.navbar-brand{
font-size: 30px;	
}